<header class="site-header">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
    <a class="site-title" rel="author" href="{{ "/whitepaper/muskoin.pdf" | relative_url }}">{{ site.title | escape }}</a>

    <div class="social-links" style="float:right">
  
      <ul class="social-media-list" style="padding:0; margin:0; border:0">
        <li style="padding:0; margin:0; border:0"><a style="padding:0; margin:0; border:0" rel="me" href="https://github.com/muskoin" title="muskoin"><svg class="svg-icon grey" style="padding:0; margin:0; border:0"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg></a></li>
	<li style="padding:0; margin:0; border:0; padding-left:1em"><a style="padding:0; margin:0; border:0" rel="me" href="https://twitter.com/muskoinapp" title="muskoinapp"><svg class="svg-icon grey" style="padding:0; margin:0; border:0"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg></a></li>
	<li style="padding:0; margin:0; border:0; padding-left:1em"><a style="padding:0; margin:0; border:0" rel="me" href="https://discord.com/channels/834304001327366154/834304001327366157" title="Muskoin Discord"><svg viewBox="0 0 24 24" class="svg-icon grey" style="padding:0; margin:0; border:0" ><use xlink:href="{{ '/assets/minima-social-icons.svg#discord' | relative_url }}"></use></svg></a></li>
      </ul>

    </div>

  </div>
</header>
